//var(--navbar-width) = 90vw

max_width_medium = 650px
max_width_small = 400px
max_width_big = 920px

size(width, height)
  width: width
  height: height

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')

:root
  --root-blue: #4f7f93
  --darker-blue: #243942
  --dark-blue: #2d4752
  --mid-dark-blue: #4d7180
  --mid-light-blue: #9fbac7
  --light-blue: #c8d8de
  --ultra-light-blue: #f2f6f7
  --dark-gray: #494e50
  --gray: #798286
  --light-gray: #c9cdcf
  --lighter-gray: #f1f3f3
  --text-color: var(--dark-blue)
  --header-color: var(--mid-light-blue)
  --border-color: var(--root-blue)
  --hover-color: var(--ultra-light-blue)
  --invert-color: var(--lighter-gray)
  --invert-muted-color: var(--mid-light-blue)
  --invert-bg-color: var(--dark-blue)
  --invert-header-bg-color: var(--darker-blue)
  --invert-hover-color: var(--mid-dark-blue)
  --invert-border-color: var(--mid-dark-blue)
  --muted-color: var(--mid-light-blue)
  --muted-bg-color: var(--light-blue)
  --code-color: var(--mid-dark-blue)
  --code-bg-color: var(--ultra-light-blue)
  --font-size: 16px
  --font-sans: 'IBM Plex Sans', 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif
  --font-condensed: 'IBM Plex Sans Condensed', -apple-system, BlinkMacSystemFont, sans-serif
  --font-monospace: 'Inconsolata for Powerline', 'IBM Plex Mono', monospace, monospace
  --line-height: 1.8em
  --line-height-condensed: 1.3em
  --spacing-0u: 4px
  --spacing-1u: 8px
  --spacing-2u: 16px
  --spacing-4u: 32px
  --spacing-8u: 64px
  --border-radius: 2px
  --transition-fast: 0.07s all ease-in
  --animation-speed: 1.2s
  --bezier-accel: cubic-bezier(0.61, 0.18, 0.63, 0.64)
  // My new ones...
  --version-color: var(--light-gray)
  --navbar-width: 90vw
  @media screen and (max-width: max_width_medium)
    --navbar-width: 93.5vw
  @media screen and (min-width: max_width_big)
    --navbar-width: max_width_big
    
// TODO: Process to work for all bowsers.
::selection
  background: rgba(#85, 0.5)
    
html
  font-family var(--font-sans)
  line-height: 1.7em
    
a
  color currentColor
  text-decoration none
a:hover
  color var(--header-color)
  text-decoration underline

code, .code-style
  padding 15px
  border-left 3px solid var(--border-color)
  background: var(--code-bg-color)
  color: var(--code-color)
    
code
  opacity 0.75
  font-family: var(--font-monospace)
  
.hl
  position relative
  left 50%
  transform translateX(-50%)
  width 100%
  height 1px
  background black
  margin none
  padding none
  
.stickylogo
  position relative
  flex 1
  size 0 0
//  @media screen and (min-width: 900px)
//    position fixed
//    left 50%
//    transform translateX(-50%)
//    top 10px
  @media screen and (max-width: max_width_medium)
    padding-left 1vw
  img
    size 3em auto
    @media screen and (max-width: max_width_medium)
      size 3.9vw auto

.stickybar
  position sticky
  top -15px
  background-color: rgba(#f, 0.9)
  z-index 100
  nav.navbar
    position relative
    display flex
    justify-content space-between
    margin auto
    padding-top: 30px
    line-height: 1
    width calc(var(--navbar-width) - 2.5vw)
    .info
      padding-bottom 15px
      float left
      .name
        color: var(--dark-blue)
        font-size 3em
        @media screen and (max-width: max_width_medium)
          font-size 4vw
      .version
        color: var(--version-color)
        padding-left 5px
        font-size 0.75em
        font-weight: 250
      *
        display inline-block
      @media screen and (max-width: max_width_medium)
        padding 0px
    .links
      color: var(--text-color)
      display inline-block
      margin 0
      margin-top 15px
      font-size: 1.25em
      font-weight: 379
      a
        padding-left 5px
      @media screen and (max-width: max_width_medium)
        font-size 3.4vw
        padding 0

.hl.breaker
  background: var(--header-color);
  z-index -1
  width var(--navbar-width)
  height 2px
  
main
  // Container is here for future use if we want main as a background or something and we don't want to scale container.
  .container
    // background: #F9F9F9
    width var(--navbar-width)
    margin auto
    display: grid
    .box
      padding-right 20px
      grid-area: statement
      font-size: 20px
    .example 
      grid-area: example
    .description
      grid-area: description

    
@css {
  main .container {
    grid-template:" . . ." 15px
                  " statement . example " auto
                  " . . . " 200px
                  " description description description " 1fr
                  / 1fr 0px 1fr
  }
}