@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
:root {
  --root-blue: #4f7f93;
  --darker-blue: #243942;
  --dark-blue: #2d4752;
  --mid-dark-blue: #4d7180;
  --mid-light-blue: #9fbac7;
  --light-blue: #c8d8de;
  --ultra-light-blue: #f2f6f7;
  --dark-gray: #494e50;
  --gray: #798286;
  --light-gray: #c9cdcf;
  --lighter-gray: #f1f3f3;
  --text-color: var(--dark-blue);
  --header-color: var(--mid-light-blue);
  --border-color: var(--root-blue);
  --hover-color: var(--ultra-light-blue);
  --invert-color: var(--lighter-gray);
  --invert-muted-color: var(--mid-light-blue);
  --invert-bg-color: var(--dark-blue);
  --invert-header-bg-color: var(--darker-blue);
  --invert-hover-color: var(--mid-dark-blue);
  --invert-border-color: var(--mid-dark-blue);
  --muted-color: var(--mid-light-blue);
  --muted-bg-color: var(--light-blue);
  --code-color: var(--mid-dark-blue);
  --code-bg-color: var(--ultra-light-blue);
  --font-size: 16px;
  --font-sans: 'IBM Plex Sans', 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-condensed: 'IBM Plex Sans Condensed', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-monospace: 'Inconsolata for Powerline', 'IBM Plex Mono', monospace, monospace;
  --line-height: 1.8em;
  --line-height-condensed: 1.3em;
  --spacing-0u: 4px;
  --spacing-1u: 8px;
  --spacing-2u: 16px;
  --spacing-4u: 32px;
  --spacing-8u: 64px;
  --border-radius: 2px;
  --transition-fast: 0.07s all ease-in;
  --animation-speed: 1.2s;
  --bezier-accel: cubic-bezier(0.61, 0.18, 0.63, 0.64);
  --version-color: var(--light-gray);
  --navbar-width: 90vw;
}
@media screen and (max-width: 650px) {
  :root {
    --navbar-width: 93.5vw;
  }
}
::selection {
  background: rgba(133,133,133,0.5);
}
html {
  font-family: var(--font-sans);
}
a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  color: var(--header-color);
  text-decoration: underline;
}
code,
.code-style {
  padding: 15px;
  border-left: 3px solid var(--border-color);
  background: var(--code-bg-color);
  color: var(--code-color);
}
code {
  opacity: 0.75;
  font-family: var(--font-monospace);
}
.hl {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: #000;
  margin: none;
  padding: none;
}
.stickylogo {
  position: relative;
  flex: 1;
}
@media screen and (min-width: 900px) {
  .stickylogo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
  }
}
@media screen and (max-width: 650px) {
  .stickylogo {
    width: 0;
    height: 0;
    padding-left: 1vw;
  }
}
.stickylogo img {
  width: 3em;
  height: auto;
}
@media screen and (max-width: 650px) {
  .stickylogo img {
    width: 3.9vw;
    height: auto;
  }
}
.stickybar {
  position: sticky;
  top: -14px;
  z-index: 100;
}
.stickybar nav.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 30px;
  line-height: 1;
  width: calc(var(--navbar-width) - 2.5vw);
}
.stickybar nav.navbar .info {
  float: left;
}
.stickybar nav.navbar .info .name {
  color: var(--dark-blue);
  height: 0.5em;
  font-size: 3em;
}
@media screen and (max-width: 650px) {
  .stickybar nav.navbar .info .name {
    font-size: 4vw;
  }
}
.stickybar nav.navbar .info .version {
  color: var(--version-color);
  padding-left: 5px;
  font-size: 0.75em;
  font-weight: 250;
}
.stickybar nav.navbar .info * {
  display: inline-block;
}
@media screen and (max-width: 650px) {
  .stickybar nav.navbar .info {
    padding: 0px;
  }
}
.stickybar nav.navbar .links {
  color: var(--text-color);
  display: inline-block;
  margin: 0;
  margin-top: auto;
  font-size: 1.25em;
  font-weight: 379;
}
.stickybar nav.navbar .links a {
  padding-left: 5px;
}
@media screen and (max-width: 650px) {
  .stickybar nav.navbar .links {
    font-size: 3.4vw;
    padding: 0;
  }
}
.hl.breaker {
  background: var(--header-color);
  z-index: -1;
  width: var(--navbar-width);
  height: 2px;
}
main .container {
  width: var(--navbar-width);
  margin: auto;
  display: grid;
}
main .container .box {
  padding-right: 20px;
  grid-area: statement;
  font-size: 20px;
}
main .container code.example {
  grid-area: example;
}
main .container .description {
  grid-area: description;
}

main .container {
  grid-template:" . . ." 15px
                " statement . example " auto
                " . . . " 200px
                " description description description " 1fr
                / 1fr 0px 1fr
}
